.page-header {
  margin: 0;
  margin-bottom: -55px;
}
.page-header ul {
  padding: 0;
  margin: 0;
}
.main-nav {
  position: relative;
}
.main-nav__item {
  background-color: #81b3d2;
  list-style: none;
  height: 55px;
  vertical-align: middle;
}
.main-nav__item a{
  text-decoration: none;
  color: white;
  font-family: "PTSans";
}
.main-nav__toggle-close {
  position: relative;
  width: 40px;
  height: 40px;
  background: url("../img/icon-cross.svg") 50% 50% no-repeat;
}

.main-nav__toggle-open {
  position: relative;
  width: 40px;
  height: 40px;
  right: -80px;
  background: url("../img/icon-menu.svg") 50% 50% no-repeat;
}

