.photo-preview {
  width: 280px;
margin: 0 auto;
}
.photo-block {
  &__like-icon {
    height: 25px;
  }
  &__like-icon:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 30px;
    background: url("../img/icon-like.svg") no-repeat;
    vertical-align: middle;
  }
  &__author {
    text-transform: none;
  }
  &__like-count {
  }
}

/*

like icon через псевдо before
*/
