.photo-preview {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
.photo-block {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
.photo-block__like-icon {
  height: 25px;
  background: url("../img/icon-like.svg") no-repeat;
}
.photo-block__author {
  text-transform: none;
}
