.promo {
  height: 390px;
  overflow: hidden;
  @media @tablet-widths {
    height: 520px;
  }

  /*background: url("../img/bg-back-mobile@1x.jpg") 50% no-repeat;*/

  &__img {
    object-fit: none;
    height: 100%;
  }
}
svg {
  height: 100px;
}

