.promo {
  height: 390px;
  margin-bottom: 20px;
  overflow: hidden;

  /*background: url("../img/bg-back-mobile@1x.jpg") 50% no-repeat;*/
  &--small {
    height: 160px;
    img {
      margin-top: -230px;
    }
  }
  &__img {
    object-fit: none;
    height: 390px;
  }
}

